extends layout

block local-head
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

block content
  h2 /r/all
  ul
    each post in posts
      li(id="#{post.data.id}").post
        if /^http|https/.test(post.data.thumbnail)
          img(src=post.data.thumbnail).thumbnail
        span.title= post.data.title
        a(href=post.data.url).post-overlay
        span.favorite
          i.fa.fa-star-o.fa-lg

  if pagination.before
    a(href="?before=#{pagination.before}&count=#{pagination.count.new.before}").pagination Prev
  if pagination.after
    a(href="?after=#{pagination.after}&count=#{pagination.count.new.after}").pagination Next

block local-scripts
  script(src="/javascripts/helpers/Favorites.js")
  script(src="/javascripts/index.js")