extends layout

block local-head
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

block content
  h1= title
  p Welcome to #{title}
  ul
    each post in posts
      li(id="#{post.data.id}").post
        if /^http|https/.test(post.data.thumbnail)
          img(src=post.data.thumbnail).thumbnail
        a(href=post.data.url).title= post.data.title
        span.favorite
          i.fa.fa-star-o
  if after
    a(href="?after=#{after}") Next

  script(src="//code.jquery.com/jquery-1.11.3.min.js")
  script(src="/javascripts/helpers/Favorites.js")
  script(src="/javascripts/index.js")