extends layout

block local-head
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

block content
  h1= title
  p Your #1 source of /r/all & favorites!
  ul
    each post in posts
      li(id="#{post.data.id}").post
        if /^http|https/.test(post.data.thumbnail)
          img(src=post.data.thumbnail).thumbnail
        span.title= post.data.title
        span.favorite
          i.fa.fa-star-o.fa-lg
        a(href=post.data.url).post-overlay

  if after
    a(href="?after=#{after}") Next

block local-scripts
  script(src="/javascripts/helpers/Favorites.js")
  script(src="/javascripts/index.js")